@import "./variables.scss";

.cart {
  display: flex;
  flex-direction: column;
  padding: 24px 32px;
  position: relative;
}
.title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}
.items {
  display: flex;
  flex-direction: column;
  margin: 15px 0px 20px;
  row-gap: 10px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.totalPrice {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: $grey;
  span {
    color: $white;
  }
}
.empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  font-size: 2em;
}
.back {
  width: max-content;
}
.overlay{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.432);
display: flex;
align-items: center;
justify-content: center;
}
.popup{
  background-color: $white;
  color: $dark;
  padding: 20px;
  width: 40%;
  height: 40%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;

}
.img{
  margin: 0 auto;
  max-width: 100%;
  background-color: $bg;
  border-radius: 10px;
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.cancel{
  background-color: $dark-sea;
}
.confirm{
  background-color: rgb(78, 126, 7);
}
