@import "./variables.scss";
.categoriesSection {
  padding: 20px;
}
.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 20px;
}
.list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.category {
  width: 230px;
  aspect-ratio: 1/1;
}
.image {
  width: 100%;
  height: 95%;
  background-size: cover;
}
.categoryTitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  margin-top: 20px;
  text-align: center;
}
.noResults {
  width: 100%;
  text-align: center;
  padding: 20px;
  font-size: 2em;
  position: relative;

  button {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }
}
