@import "./variables.scss";

.footer {
  background-color: $dark;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-top: auto;
  span {
    color: $dark-sea;
    font-size: 14px;
  }
}
.logo {
  width: 60px;
}
.socials {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}
.icon {
  width: 25px;
  height: 25px;
  fill: $dark-sea;
  &:hover {
    fill: $violet;
  }
}
