@import "./variables.scss";

.sidebar {
  width: 300px;
  background: $dark;
  max-height: 420px;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  a {
    color: $sea;
    transition: color 0.3s ease;

    &:hover {
      color: $white;
    }
  }
}
.title {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
}
.list {
  margin-block: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  overflow-x: auto;

  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    background: $bg;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $dark;
    border-radius: 20px;
    border: 1px solid $bg;
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
}

.conditions {
  text-decoration: underline;
}
.loading {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}
.active-category {
  color: $violet !important;
}
